.header {
  width: 100%;box-shadow: black 0 -1px 3px;
}

.logo {
  width: 150px;
  height: 80px;
  overflow: hidden;

  margin-left: 20px;
  background: url("assets/logo.png");
  background-size: contain;
}
