.cssload-contain {
  height: 5px;
  width: 1280px;
  margin: auto;
}

.animation{
  animation: cssload-bounce 2.28s infinite ease alternate,hue 60s infinite linear;
  -o-animation: cssload-bounce 2.28s infinite ease alternate,hue 60s infinite linear;
  -ms-animation: cssload-bounce 2.28s infinite ease alternate,hue 60s infinite linear;
  -webkit-animation: cssload-bounce 2.28s infinite ease alternate,hue 60s infinite linear;
  -moz-animation: cssload-bounce 2.28s infinite ease alternate,hue 60s infinite linear;
}

.color_animation{
   animation: hue 60s infinite linear;
  -o-animation: hue 60s infinite linear;
  -ms-animation: hue 60s infinite linear;
  -webkit-animation: hue 60s infinite linear;
  -moz-animation: hue 60s infinite linear;
}
.cssload-dot {
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: rgb(0,0,0);
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.3), transparent), radial-gradient(rgb(0,128,0),rgb(0,128,0));
  background-position: top center;
  opacity:0.8;
  margin: 0 2px;
}
.cssload-dot:nth-child(1) {
  animation-delay: 0.18s;
    -o-animation-delay: 0.18s;
    -ms-animation-delay: 0.18s;
    -webkit-animation-delay: 0.18s;
    -moz-animation-delay: 0.18s;
}
.cssload-dot:nth-child(2) {
  animation-delay: 0.34s;
    -o-animation-delay: 0.34s;
    -ms-animation-delay: 0.34s;
    -webkit-animation-delay: 0.34s;
    -moz-animation-delay: 0.34s;
}
.cssload-dot:nth-child(3) {
  animation-delay: 0.52s;
    -o-animation-delay: 0.52s;
    -ms-animation-delay: 0.52s;
    -webkit-animation-delay: 0.52s;
    -moz-animation-delay: 0.52s;
}
.cssload-dot:nth-child(4) {
  animation-delay: 0.7s;
    -o-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
}
.cssload-dot:nth-child(5) {
  animation-delay: 0.86s;
    -o-animation-delay: 0.86s;
    -ms-animation-delay: 0.86s;
    -webkit-animation-delay: 0.86s;
    -moz-animation-delay: 0.86s;
}
.cssload-dot:nth-child(6) {
  animation-delay: 1.14s;
    -o-animation-delay: 1.14s;
    -ms-animation-delay: 1.14s;
    -webkit-animation-delay: 1.14s;
    -moz-animation-delay: 1.14s;
}



@keyframes cssload-bounce {
  0% {
    transform: translateY(0);
    box-shadow: 0 2.5px 1px rgba(71,34,86,0.2);
  }
  100% {
    transform: translateY(-20px);
    box-shadow: 0 88px 12px rgba(0,0,0,0.1);
  }
}

@-o-keyframes cssload-bounce {
  0% {
    -o-transform: translateY(0);
    box-shadow: 0 2.5px 1px rgba(71,34,86,0.2);
  }
  100% {
    -o-transform: translateY(-20px);
    box-shadow: 0 88px 12px rgba(0,0,0,0.1);
  }
}

@-ms-keyframes cssload-bounce {
  0% {
    -ms-transform: translateY(0);
    box-shadow: 0 2.5px 1px rgba(71,34,86,0.2);
  }
  100% {
    -ms-transform: translateY(-20px);
    box-shadow: 0 88px 12px rgba(0,0,0,0.1);
  }
}

@-webkit-keyframes cssload-bounce {
  0% {
    -webkit-transform: translateY(0);
    box-shadow: 0 2.5px 1px rgba(71,34,86,0.2);
  }
  100% {
    -webkit-transform: translateY(-20px);
    box-shadow: 0 88px 12px rgba(0,0,0,0.1);
  }
}

@-moz-keyframes cssload-bounce {
  0% {
    -moz-transform: translateY(0);
    box-shadow: 0 2.5px 1px rgba(71,34,86,0.2);
  }
  100% {
    -moz-transform: translateY(-20px);
    box-shadow: 0 88px 12px rgba(0,0,0,0.1);
  }
}