<div class="cssload-contain">
	<div class="cssload-dot" 
	[ngClass]="{'animation':showAnimation,'color_animation':!showAnimation}"></div>
	<div class="cssload-dot" 
	[ngClass]="{'animation':showAnimation,'color_animation':!showAnimation}"></div>
	<div class="cssload-dot" 
	[ngClass]="{'animation':showAnimation,'color_animation':!showAnimation}"></div>
	<div class="cssload-dot" 
	[ngClass]="{'animation':showAnimation,'color_animation':!showAnimation}"></div>
	<div class="cssload-dot" 
	[ngClass]="{'animation':showAnimation,'color_animation':!showAnimation}"></div>
</div>