

.content {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;
    text-align:center;
}

.site__title {
  font-size: 5rem;
  font-weight: 200;
  line-height: 1;
  color: green;
  background-image: -webkit-linear-gradient(92deg,green,#feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 60s infinite linear;
  margin-bottom: 30px;
}
