.content-wrap {
    padding: 28px 0;
}

.content {
    width: 1280px;
    max-width: 90%;
    margin: 0 auto;
    text-align:center
}

.site__title {
  font-size: 5rem;
  font-weight: 200;
  line-height: 1;
  color: #f35626;  
  background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);  
  -webkit-background-clip: text;  
  -webkit-text-fill-color: transparent;  
  -webkit-animation: hue 60s infinite linear;
  margin-bottom: 40px;
}  

@-webkit-keyframes hue {  
  from {  
    -webkit-filter: hue-rotate(0deg);  
  }  
  
  to {  
    -webkit-filter: hue-rotate(-360deg);  
  }  
}  

.loading-btn{
  height: 14px;
  width: 88px;
  padding-left:72px;
  padding-top:22px;
  margin:0 auto;
}


