/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

html, body {
	padding:0px;
	margin: 0px;
}

  

 @-webkit-keyframes hue {  
  from {  
    -webkit-filter: hue-rotate(90deg);  
  }  
  
  to {  
    -webkit-filter: hue-rotate(270deg);  
  }  
}  